.loader-container {
  position: fixed; 
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loader-gif {
  width: 300px;
  height: auto;
  object-fit: contain;
}
