form {
  max-width: 420px;
  margin: 40px auto;
  background-color: var(--bg-card);
  padding: 28px;
  border-radius: 14px;
}

input {
  width: 100%;
  background-color: var(--bg-secondary);
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: var(--text-main);
  margin-bottom: 14px;
}

button {
  width: 100%;
  background-color: var(--primary);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
}
